{{#if user}}
<aside class="flex flex-row h-screen">
  <!-- Thanh 1: icon ngày/đêm -->
  <div id="themeToggle"
      class="w-16 flex flex-col justify-start items-center shadow-md cursor-pointer pt-6"
      style="background-color:#DF9090;">
    <i id="themeIcon" class="bi bi-sun-fill text-white text-2xl"></i>
  </div>


  <!-- Thanh 2: menu chính -->
  <div class="w-64 bg-pink-200 flex flex-col items-center py-6 space-y-4 shadow-inner"
     style="background-color: #F1B6B6;">

    <button class="btn-menu btn-add-task" id="openTaskModal">Add task</button>
    <button type="button" class="btn-menu" onclick="location.assign('/dashboard')">My day</button>
    <button class="btn-menu" onclick="location.assign('/week')">Week</button>
    <button class="btn-menu" onclick="location.assign('/month')">Month</button>

    <button class="btn-menu" onclick="location.href='/health'">Health</button>




  </div>
</aside>
{{/if}}