<div class="flex justify-center items-center h-full">
  <div class="bg-white rounded-3xl shadow-lg p-6 w-96 text-center">
    <h3 class="text-2xl font-semibold text-rose-600 mb-4">Welcome to LifeSync</h3>
    <p class="text-gray-500 text-sm mb-5">Please log in or create an account to continue</p>
    <a href="/auth/login" class="btn btn-rose-400 w-100 mb-2 bg-rose-300 hover:bg-rose-400 text-white">Login</a>
    <a href="/auth/register" class="btn btn-outline-secondary w-100">Register</a>
  </div>
</div>
